<div class="change-data__form w-full">
    <div>{{> mail }}</div>
    <div>{{> login }}</div>
    <div>{{> firstName }}</div>
    <div>{{> lastName }}</div>
    <div>{{> nameInChat }}</div>
    <div>{{> phone }}</div>
</div>
