---
id: "root"
---
<html lang="en">
    <head>
        <script src="src/index.js" type="module"></script>
        <link rel="stylesheet" href="scss/index.scss" />
        <title>messenger</title>
    </head>
<body>
    <div id="{{ id }}">
        <div class="test">hey deploy</div>
    </div>
</body>
</html>
