<div class="user__buttons w-full">
    <div class="user__button user__button-border">
        <div class="user__button-margin">{{> changeData }}</div>
    </div>
    <div class="user__button user__button-border">
        <div class="user__button-margin">{{> changePass }}</div>
    </div>
    <div class="user__button">{{> exitLink }}</div>
</div>
