<div class="w-full">
    <h1 class="user__name text-center">{{ userName }}</h1>
    <div>{{> mail }}</div>
    <div>{{> login }}</div>
    <div>{{> firstName }}</div>
    <div>{{> lastName }}</div>
    <div>{{> nameInChat }}</div>
    <div>{{> phone }}</div>
</div>
