<div class="user-field flex justify-between w-full">
    <div class="user-field__name"><span>{{ name }}</span></div>
    <label class="user-field__label w-full">
        <input class="user-field__input w-full" type="text" value="{{ value }}"  {{ readonly }}>
    </label>
</div>
