<div class="auth-form">
    <h1 class="auth-form__title">Create account</h1>
    <div class="auth-form__fields">
        <div class="auth-form__field">{{> mail }}</div>
        <div class="auth-form__field">{{> login }}</div>
        <div class="auth-form__field">{{> firstName }}</div>
        <div class="auth-form__field">{{> lastName }}</div>
        <div class="auth-form__field">{{> phone }}</div>
        <div class="auth-form__field">{{> pass }}</div>
        <div class="auth-form__field">{{> passAgain }}</div>
    </div>
    <div class="auth-form__buttons">
        <div class="auth-form__btn-create">{{> createBtn}}</div>
        <div class="auth-form__btn-login">{{> loginLink }}</div>
    </div>
</div>
