.login-form {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 460px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background-color: $white;
  &__fields {
    flex-grow: 1;
  }
  &__title {
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
  &__btn {
    margin-bottom: 14px;
  }
  &__create {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
