<div id="login-form" class="login-form">
    <h1 class="login-form__title">Login</h1>
    <div class="login-form__fields">
        <div id="login" class="login-form__field">{{{ loginInput }}}</div>
        <div id="pass" class="login-form__field">{{{ passwordInput }}}</div>
    </div>
    <div id="button" class="login-form__btn">{{{ loginBtn }}}</div>
    <div class="login-form__create">{{{ createAcc }}}</div>
</div>
