<div class="not-found flex justify-center items-center h-full">
    <div class="not-found__container text-center">
        <h1 class="not-found__title">404</h1>
        <h2 class="not-found__description">Page not found</h2>
        <div class="not-found__link">{{> backLink }}</div>
    </div>
</div>
